{% load static %}
<div class="navbar navbar-default navbar-fixed-top" style="background-color:red;">
    <div class="navbar-inner">
        <div class="container-fluid centertext">
          <a class="logo" href="{% url 'shop:product_list' %}" id="logo">
        	        <img class="img-rounded" src="{% static 'img/logo.png' %}" style="height:80px;">
      	  </a>
            <h4 style="color:white;">Sklep Meblowy</h4>
        </div>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

    </button>
    <div class="navbar-collapse collapse">
        {% if request.user.is_authenticated %}
        <ul class="nav nav-justified">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff">{{ request.user.username }}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'accounts:profile' %}">Profil</a></li>
            <li><a href="{%  url 'accounts:history' %}">Historia zakupów</a></li>
          <li><a href="{% url 'accounts:logout' %}">Wyloguj się</a></li>
            {% ifequal user.groups.all.0.name "Pracownik" %}
            <li><a href="/user_admin">Panel</a></li>
            {% endifequal %}
            {% else %}
            <ul class="nav nav-justified">
          <li><a href="{% url 'accounts:login' %}" style="color: #ffffff"><span class="glyphicon glyphicon-user"></span> Logowanie</a></li>
         <li><a href="{% url 'accounts:register' %}" style="color: #ffffff"><span class="glyphicon glyphicon-log-in"></span> Rejstracja</a></li>
        {% endif %}
                </ul>
    </div>
</div>